<!-- Content, mantener este como el unico container para evitar sumar los margenes en retina-->
<div id="content" class="container">
    <div class="container-small formulario">
        <h2>Editar Jugador</h2>
        <%= render "form.html", Map.put(assigns, :action, player_path(@conn, :update, @player)) %>
    </div>
</div>
<!-- END Content-->